body{
  background-color: #202124 !important;
}
.row{
  display: flex;
  justify-content: center;
}

table{
  width: fit-content !important;
  border: 2px solid brown;
  background-color: rgb(63, 92, 82);
}
th{
  color: aliceblue;
  background-color: #171717 !important;
}
form{
  margin-top: 30px;
}
h1{
  text-align: center;
  color: aliceblue;
  margin-top: 25px !important;
  font-family: monospace;
  font-size: 45px !important;
}